@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
  background-color: #FFF
}

.wrapper {
  top: 20%;
  margin: 40 auto;
  padding: 20% 16.66% 50px;
  width: 100%;
}

article {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}

.timeline__nav {
  position: fixed;
  z-index: 99;
  top: 0;
  transition: top .3s ease-out;
}
.timeline__nav ul {
  list-style: none;
  list-style-position: inside;
  margin: 15px 0;
}
.timeline__nav ul li {
  margin: 15px 0;
  padding-left: 0;
  list-style-type: none;
  color: lightblue;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all .3s ease-out;
}
.timeline__nav ul li.active {
  font-weight: bold;
  color: blue;
  border-bottom: 1px dotted transparent;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.timeline__nav ul li:hover {
  color: blue;
}


.overout {  
text-decoration:none;
position: relative;
top: -100px;
right: -25px;
}

.block-menu {
  z-index: 99 !important;
  overflow: hidden;
  background-color: black;
  display: block;
  position: fixed;
  float: center;
  padding-left: 300px;
  padding-right: 400px;
  margin: 0;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: baseline;
}

.block-menu li {
  display: inline-block;
  align-content: center;
  padding-left: 30px;
}

.block-menu li a {
  color: #fff;
  display: block;
  float: center;
  right: 0px;
  text-decoration: none;
  font-family: monospace;
  font-smoothing: antialiased;
  text-transform: uppercase;
  overflow: visible;
  line-height: 20px;
  font-size: 24px;
  padding: 15px 10px;
}

/* animation domination */
.three-d {
  perspective: 200px;
  transition: all .07s linear;
  position: relative;
  cursor: pointer;
}
  /* complete the animation! */
  .three-d:hover .three-d-box, 
  .three-d:focus .three-d-box {
    transform: translateZ(-25px) rotateX(90deg);
  }

.three-d-box {
  transition: all .2s ease-out;
  transform: translatez(-25px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  box-pack: center;
  box-align: center;
  width: 100%;
  height: 100%;
}

/* 
  put the "front" and "back" elements into place with CSS transforms, 
  specifically translation and translatez
*/
.front {
  transform: rotatex(0deg) translatez(25px);
}

.back {
  transform: rotatex(-90deg) translatez(25px);
  color: #ffe7c4;
}

.front, .back {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  padding: 15px 10px;
  color: white;
  pointer-events: none;
  box-sizing: border-box;
  box-pack: center;
  box-align: center;
  border-radius: 5px;
}